body{
    font-family: Roboto;
}
a{
    font-family: Roboto;
}

.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(0 0 0 0);
}
header{
    @extend %container;
    border-bottom: 1px solid #ECECEC;
    justify-content: space-between;
    height: 80px;

    @media screen and(min-width:767px){
        display: flex;
        align-items: center;
    }
}
footer{
    background-color: #2F303A;
    padding: 60px 0;
    padding-bottom: 20px;
    text-align: center;

    @media screen and(min-width:1199px){
        text-align: start;
    }
}

.ftr{
    @extend %container;
    @media screen and(min-width:1199px){
        display: flex;
    }
}

.ftr__tablet-flex{
    @media screen and(min-width:767px){
        display: flex;
        justify-content: space-between;
    }
}
