body{
    font-family: Roboto;
}
a{
    font-family: Roboto;
}

.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(0 0 0 0);
}
header{
    @extend %container;
    border-bottom: 1px solid #ECECEC;
    justify-content: space-between;
}
footer{
    @extend %container;
    background-color: #2F303A;
    padding: 60px 0;
    padding-bottom: 20px;
    text-align: center;
}
