.our-projects{
    @extend %container;
    padding-top: 94px;
    margin-bottom: 95px;
}

.our-projects__title{
    display: none;
}

.our-projects__nav{
    display: flex;
    justify-content: center;
}