.join{
    @media screen and(max-width:767px){
        margin-bottom: 60px;
    }

    @media screen and(min-width:768px){
        margin-right: 90px;
    }
}

.join__title{
    margin-bottom: 20px;

    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;

    color: $primary-white-color;
}

.ss-link{
    display: flex;
}

.ss-link__ss{
    width: 20px;
    height: 20px;
}
