.subscribe{
    margin-top: 8px;
}

.subscribe__title{
    margin-bottom: 20px;

    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;

    color: $primary-white-color;
}

.subscribe__form{
    @media screen and(min-width:1199px){
        display: flex;
    }
}

.subscribe__input{
    display: inline-block;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    max-width: 450px;
    height: 50px;
    margin-bottom: 20px;
    padding: 0 12px;

    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    
    color: rgba(255, 255, 255, 0.6);
    background-color: #2F303A;

    @media screen and(min-width:1199px){
        width: 358px;
        margin-right: 10px;
    }
}


.subscribe__btn{
    @extend %flexCenter;
    border: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 10px 30px;

    background: #2196F3;
}

.btn-center{
    @media screen and(max-width:1199px){
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.subscribe__text{
    margin-right: 10px;
    font-weight: 900;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    
    color: $primary-white-color;
}
