.nav{
    margin-bottom: 60px;
    @media screen and (min-width: 767px){
        display: flex;
        align-items: center;
        margin: 0;
    }
}

.nav__open-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
.nav__burger{
    transition: fill 250ms $timing-function;

    @media screen and (min-width: 767px){
        display: none;
    }
}

.nav__burger:hover,
.nav__burger:focus{
    fill: $accent-color;
    transition: fill 250ms $timing-function;
}

.nav__open{
    position: relative;
    right: 0;
    opacity: 1;
    visibility: visible;
    pointer-events: inherit;

    transition: 500ms $timing-function;
}

.nav__burger.is-open .nav__open{
    position: absolute;
    right: 40px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: 500ms $timing-function;
}

.nav__close{
    position: absolute;
    right: 40px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: 500ms $timing-function;
}

.nav__burger.is-open .nav__close{
    position: relative;
    right: 0px;
    opacity: 1;
    visibility: visible;
    pointer-events: inherit;
}

.nav__menu{
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    border-top: 1px solid #ECECEC;
    border-bottom: 1px solid #ECECEC;
    padding: 60px 0;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 250ms linear, visibility 250ms linear;

    @media screen and (min-width: 767px){
        display: flex;
        opacity: 1;
        visibility: visible;
        pointer-events: initial;
        position: initial;
        top: 0;
        padding: 0;
        border: none;
        justify-content: space-between;
    }
    @media screen and (max-width: 767px){
        z-index: 999;
    }
}

.nav__menu.is-open{
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
}

.nav__menu.is-open  body{
    overflow-y: scroll;
}

.nav__name-company{
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    
    color: $black-color;

    @media screen and (min-width: 767px){
        margin-right: 80px;
    }
}

.name-company--blue{
    color: $accent-color;
}

.nav__link{
    display: block;
    margin: 0 auto;
    max-width: max-content;
    transition: color 250ms $timing-function;
    padding: 12px 0; 

    font-weight: 500;
    font-size: 14px;
    line-height: 16px;

    color: $text-color;

    @media screen and (min-width: 767px){
        padding: 32px 0px;
    }
}

.nav__link:not(:last-child){
    margin-bottom: 40px;

    @media screen and (min-width: 767px){
        margin-bottom: 0;
        margin-right: 50px;
    }
}

.nav__link:focus,
.nav__link:hover{
    color: $accent-color;
}

.active{
    position: relative;
}

.active::after{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 4px;
    border-radius: 2px;
    background-color: $accent-color;
}
