.hello{
    position: relative;
    background-image: url(../img/Header_imgfon.png);
    background-size: contain;
    height: 400px;
    margin-bottom: 94px;

    text-align: center;
}

.hello__overlay{
    position: absolute;
    padding: 115px 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(47, 48, 58, 0.8);
}

.hello__title{
    width: 360px;
    margin: 0 auto;
    margin-bottom: 30px;

    font-weight: 900;
    font-size: 26px;
    line-height: 42px;
    text-transform: uppercase;

    color: $primary-white-color;
}
.hello__buy{
    padding: 10px 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    text-align: center;

    font-weight: 700;
    font-size: 16px;
    line-height: 30px;

    color: $primary-white-color;
    background-color: $accent-color;
}
