.hello{
    position: relative;
    background-image: url(../img/Header_imgfon-phone.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    margin-bottom: 94px;

    text-align: center;

    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
        background-image: url(../img/Header_imgfon-phone@2x.jpg);
    }

    @media screen and (min-width: 768px){
        background-image: url(../img/Header_imgfon-tablet.jpg);

        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            background-image: url(../img/Header_imgfon-tablet@2x.jpg);
        }
    }

    @media screen and (min-width: 1199px){
        height: 600px;
        background-image: url(../img/Header_imgfon-desktop.jpg);
    
        @media screen and (min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
                background-image: url(../img/Header_imgfon-desktop@2x.jpg);
            }
    }
}

.hello__overlay{
    position: absolute;
    padding: 115px 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(47, 48, 58, 0.8);

    @media screen and (min-width: 1199px){
        padding-top: 200px;
    }
}

.hello__title{
    max-width: 360px;
    margin: 0 auto;
    margin-bottom: 30px;

    font-weight: 900;
    font-size: 26px;
    line-height: 42px;
    text-transform: uppercase;

    color: $primary-white-color;

    @media screen and (min-width: 1199px){
        max-width: 554px;
        font-size: 44px;
        line-height: 60px;
    }
}
.hello__buy{
    padding: 10px 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    text-align: center;

    font-weight: 700;
    font-size: 16px;
    line-height: 30px;

    color: $primary-white-color;
    background-color: $accent-color;
}
