.main-pynkts{
    @extend %container;
    margin-bottom: 94px;
}

.main-pynkts__title{
    display: none;
}

.pynkts{
    width: 450px;
}
.pynkts:not(:last-child){
    margin-right: 30px;
}

.pynkts__fon{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F5F4FA;
    width: 450px;
    height: 120px;
    margin-bottom: 30px;
}

.pynkts__icon{
    width: 70px;
    height: 70px;
}

.pynkts__title{
    text-align: center;
    margin-bottom: 10px;

    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    text-transform: uppercase;

    color: $text-color;
}

.pynkts__text{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;

    color: $primary-color;
}
