.main-pynkts{
    @extend %container;
    margin-bottom: 94px;

}

.main-pynkts__title{
    display: none;
}

.pynkts__list{
    @extend %flexCenter;
    flex-wrap: wrap;
    @media screen and(min-width:767px){
        margin: -15px;
    }
}

.pynkts{
    max-width: 450px;

    @media screen and(min-width:767px){
        max-width: 354px;
        margin: 15px;
    }
    @media screen and(min-width:1199px){
        max-width: 270px;
    }
}

.pynkts__fon{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F5F4FA;
    width: 100%;
    height: 120px;
    margin-bottom: 30px;
}

.pynkts__icon{
    width: 70px;
    height: 70px;
}

.pynkts__title{
    text-align: center;
    margin-bottom: 10px;

    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    text-transform: uppercase;

    color: $text-color;

    @media screen and(min-width:767px){
        text-align: start;
    }
}

.pynkts__text{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;

    color: $primary-color;
}
